# Default values for street-java.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

fruit-gateway:
  enabled: true
  appName: fruit-gateway
  image:
    repository: quay.io/atarazana/street-java-fruit-gateway@sha256
    tag: "7ce1170acf1c5bb36381bdcb660d3298806f93aca72f24c8b82329e0a2ade025"
  imagePullSecrets: []
  env:
  - name: FRUIT_SERVICE_URL
    value: "http://fruit-service:8080"
  - name: OTL_ENDPOINT
    value: http://jaeger-all-in-one-inmemory-collector-headless.street-java-infra:4317

fruit-service:
  enabled: true
  appName: fruit-service
  image:
    repository: quay.io/atarazana/street-java-fruit-service@sha256
    tag: "3cd448e924414202b7e6c5c6d922fb7042a885b514bb238a5ac5867c84861c17"
  imagePullSecrets: []
  env:
  - name: JAVA_OPTS
    value: "-Dspring.profiles.active=openshift -Xms192m -Xmx768m"
  - name: OTL_ENDPOINT
    value: http://jaeger-all-in-one-inmemory-collector-headless.street-java-infra:4317