---
kind: BuildConfig
apiVersion: build.openshift.io/v1
metadata:
  name: {{ include "fruit-gateway.fullname" . }}
  labels:
    {{- include "fruit-gateway.labels" . | nindent 4 }}
spec:
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: {{ include "fruit-gateway.fullname" . }}:latest
  resources: {}
  successfulBuildsHistoryLimit: 5
  failedBuildsHistoryLimit: 5
  strategy:
    type: Source
    sourceStrategy:
      from:
        kind: ImageStreamTag
        namespace: openshift
        name: 'java:openjdk-17-ubi8'
  postCommit: {}
  source:
    type: Git
    git:
      uri: {{ .Values.gitUri }}
      ref: {{ .Values.gitRef }}
    contextDir: {{ .Values.gitContextDir }}
  triggers:
    - type: Generic
      generic:
        secretReference:
          name: fruit-gateway-generic-webhook-secret
    - type: GitHub
      github:
        secretReference:
          name: fruit-gateway-github-webhook-secret
    - type: ImageChange
      imageChange: {}
    - type: ConfigChange
  runPolicy: Serial
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: {{ include "fruit-gateway.fullname" . }}
  labels:
    {{- include "fruit-gateway.labels" . | nindent 4 }}
spec: {}